[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cmrutils"]
	path = cmrutils
	url = https://github.com/aparamon/cmrutils
[submodule "mar1s"]
	path = mar1s
	url = https://github.com/aparamon/mar1s
