[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cmrutils"]
	path = cmrutils
	url = https://github.com/aparamon/cmrutils
	shallow = true
	registered = true
